
.body{
    overflow: hidden;
    
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    color:burlywood;
    
}
.text{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    
}
.areaSearch{
    margin-top:10px;
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    color:burlywood;
    position: relative;
}
.areaButtons{
    display:flex;
    align-items: center;
    justify-content:space-around;
    color:burlywood;
}
.titleFilter{
    display:flex;
    justify-content: center;
    color:burlywood;
}
.areaFilter{
    display:flex;
    align-items: center;
    justify-content:space-around;
    color:burlywood;
    background-color: whwite;
}
.cardsContainer{
    display:flex;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.order{
    border: 3px solid rgb(231, 152, 48);
    padding: 5px;
    background-color: burlywood;
    border-radius:10px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.5);
    text-decoration: none;
}
.button{
    background-color: burlywood;
}
.pagContainer{
    display:flex;
    justify-content: space-around;
}


.linea{
    margin-top: 20px;      
     border: 0; 
     height: 1px; 
     background: rgb(129, 129, 129); 
     opacity: 0.2 

}
.imagen{
    width: 200px;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
}

