/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');
.text_white{
    color:burlywood;   
    text-align: center;
    padding-top:20px;
    padding-bottom: 20px;
}

.container{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    border-radius: 20px;
    padding: 20px;
    color:burlywood; 
}

.card_container{
    margin-top:70px;
    display: flex;
    width:50%;
    height: auto;
    background: transparent;
    border-radius: 20px;
    box-shadow: 1px 1px 4px 2px rgba(0,0,0, .5);
    color:burlywood; 
}

.header{
    border-right: 1px; 
    color:burlywood; 
    box-shadow: 1px 1px  2px rgba(0,0,0, .5);
}

.description{
    background: transparent;
    width: 100%;
}

.header, .description{
    padding:20px;
    text-align: start;
}

.imagen{
    max-width:  300;
    max-height: 300;
    border-radius: 18px;
}
.order{
    border: 3px solid rgb(231, 152, 48);
    padding: 5px;
    background-color: burlywood;
    border-radius:10px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.5);
}

.areaBoton{
    display: flex;
    align-items: center;
    justify-content:center;
}