.navContainer{
    display:flex;
    justify-content: center;
    
}
.number{
    
    
    padding-left: 10px;
    padding-right: 10px;
    
}
.pagination{
    display:flex;
    
    
    font-size: 30px;
}
